
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-down-open-1:before { content: '\e801'; } /* '' */
.icon-icons8-twitterx-50:before { content: '\e803'; } /* '' */
.icon-down-open-2:before { content: '\f004'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
